
/*********************************************************************
GENERAL
**********************************************************************/

.wrap{

	width:90%;
	max-width: 1100px;
	margin:0 auto;
}


/*********************************************************************
NAV
**********************************************************************/

/*********************************************************************
HERO
**********************************************************************/
.hero{

	background-color: #9999;
	padding: 50px 0px;
	height: 300px;
}

.button.success
{

	/*background-color: purple;*/
}

/*********************************************************************
MAIN
**********************************************************************/


/*********************************************************************
FOOTER
**********************************************************************/